
<div>
    <p id="logout"><a href="#/login">Sign Out</a></p>
  
      <!-- <button id="autoDJButton">AutoDJ</button> -->
    <div id="left_in_hour">
      <p> Left In Hour </p>
    </div>
    <div id="currentlyPlaying">
      <h2 id="songName"> Insert Current Song Name Here </h2>
      <h3 id="artistAlbum">Artist Name - Album Name</h3>
      <div class="progress-bar green stripes">
        <span id="progBar"></span>
      </div>
      <p id ="timeLeft">Loading...</p>
    </div>
    <div id="hot_buttons">
    </div>
    <div id="notification">
    </div>
    <div id="playlist"> 
      <h2 id="playHeader"> Playlist ({{pl}}): </h2>
      <ol>
        <li ng-repeat="playlist in playlists">
          {{playlist.artist}} - <em>{{playlist.song}}</em>
        </li>
      </ol>
      <p> {{playlist.length}} </p>
    </div>
</div>

