body {
	background-color: #ddd;
}

#header{
	width: 100%;
	background-color: black;
	font-color: #efe;
	height: 30px;
	padding: 5px;
}

#content{
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	padding: 10px;
	background-color: white;
}

#logo {
	position: relative;
	width: 300px;
}

div#currentlyPlaying{
	margin: 0 auto;
	width: 75%;
	padding: 10px;
	text-align: center;
}

h2#currentlyPlaying{
	text-align: center;
	font-weight: bold;
}

#playheader {

}

#playlist {
	position: relative;
	padding: 5px;
}

#playlist ol{
	padding: 5px;
	padding-left: 50px;
	list-style-type: lower-number;
}

#autoDJButton {
	color: black;
	border: solid 5px black;
	font-size: 25px;
	border-radius: 30px;
	width: 100px;
	height: 50px;
	position: relative; 
	background-color: red;
}

#playbutton {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#playbutton :hover {
	text-decoration: none;
}
#playbutton :active {
	position: relative;
	top: 1px;
}

.orange{
	color: #FEF4E9;
	border: 3px solid #191919;
	background: #d8422b; /* Old browsers */
	background: -moz-linear-gradient(top,  #d8422b 0%, #db2000 46%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8422b), color-stop(46%,#db2000), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d8422b 0%,#db2000 46%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d8422b 0%,#db2000 46%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d8422b 0%,#db2000 46%,#262626 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d8422b 0%,#db2000 46%,#262626 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8422b', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}

.orange:hover {
	background: #d8422b; /* Old browsers */
	background: -moz-linear-gradient(top,  #d8422b 0%, #961b00 46%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8422b), color-stop(46%,#961b00), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d8422b 0%,#961b00 46%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d8422b 0%,#961b00 46%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d8422b 0%,#961b00 46%,#262626 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d8422b 0%,#961b00 46%,#262626 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8422b', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}

.orange:active {
	background: #d8422b; /* Old browsers */
	background: -moz-linear-gradient(top,  #d8422b 0%, #630b00 46%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8422b), color-stop(46%,#630b00), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d8422b 0%,#630b00 46%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d8422b 0%,#630b00 46%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d8422b 0%,#630b00 46%,#262626 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d8422b 0%,#630b00 46%,#262626 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8422b', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}

.sm2-bar-ui {
	font-size: 16px;
	background-color: black;
}
.progress-bar {
    background-color: #1a1a1a;
    height: 10px;
    width: 100%;
    padding: 2px;
    margin: 5px 0 0 0;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;    
    text-align: center;       
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;    
    float: left;
}
.blue span {
    background-color: #34c2e3;   
}

.orange span {
      background-color: #fecf23;
      background-image: linear-gradient(top, #fecf23, #fd9215);  
}   

.green span {
      background-color: #a5df41;
      background-image: linear-gradient(top, #a5df41, #4ca916);  
}

.stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);            
    
    animation: animate-stripes 3s linear infinite;             
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.av-login {
  border-radius: 3px;
  border: 1px solid $grayShiny;
  background-color: white;

  h3 {
    width: 500px;
    background-color: $grayDark;
    color: $brand1190;
    font-weight: bold;
    margin: 0;
    padding: 14px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .username,
  .password {
    margin: 15px;
  }
  .username {
    width: 470px;
  }
  .password {
    width: 387px;
    margin-top: 0;
    margin-right: 10px;
    display: inline;
  }
  .submit {
    position: relative;
    bottom: 7px;
  }
}
.av-fill-viewport {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.av-center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}