
<div>
   <img id="logo" src="images/logo.jpg">
        <!-- <button id="autoDJButton">AutoDJ</button> -->
      <div id="currentlyPlaying">
        <h2 id="songName"> Insert Current Song Name Here </h2>
        <h3 id="artistAlbum">Artist Name - Album Name</h3>
        <button id="playbutton" class="orange" ng-click="pauseMusic()"> &#9654; / &#10074;&#10074;  </button>
        <div class="progress-bar green stripes">
          <span id="progBar"></span>
        </div>
        <p id ="timeLeft">Loading...</p>
      </div>

      <div id="playlist"> 
        <h2 id="playHeader"> Playlist ({{pl}}): </h2>
        <ol>
          <li ng-repeat="playlist in playlists">
            {{playlist.artist}} - <em>{{playlist.song}}</em>
          </li>
        </ol>
        <p> {{playlist.length}} </p>
      </div>
</div>

